body{
    background-image: url(https://static.vecteezy.com/ti/fotos-gratis/t2/1955075-grama-verde-para-textura-ou-fundo-gratis-foto.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

img{
    width: 10%;
    height: 10%;
}